input[type="submit"] {
  text-transform: uppercase;
  font-family: 'Lexend Zetta';

}
input[type="text"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
}

select {
 width: 100%;
 padding: 5px 35px 5px 5px;
 margin: 15px 0;
 font-size: 0.8em;
 -webkit-appearance: none;
 background: url('/images/stethoscope.jpg') 96% / 15% no-repeat light grey;
 font-family: 'Lexend Zetta', serif;
 border: 2px solid #5d91a2;
 display: block;
 /* background-image: imag url('/images/hazard.png'); */
}

:focus {
  outline-color: transparent;
  outline-style: none;
}
