<h1>VetBook</h1>
<br>
<h3>Your Cloud Based Vet Management Solution</h3>
<br>
<hr/>
<br><br>
<h3>Dashboard</h3>
<br><br>
<div id="mynav">


<div id="dashboard"<h5>Number of Registered Vets<br> <%= Vet.all.count %></h5></div>
<div id="dashboard"<h5>Number of Registered Pets<br> <%= Pet.all.count %></h5></div>
<div id="dashboard"<h5>Number of Registered Owners<br> <%= Owner.all.count %></h5></div>

</div>
