<h1>Vets</h1>
<p><a href="/vets/new">Create Vet</a>
</p>
<table>
  <tr>
    <th>Vets Name</th>
    <th>Pets Names</th>
  </tr>
  <% for vet in @vets %>
  <tr>
    <td><a href="/vets/<%= vet.id %>"><%= vet.pretty_name %></a></td>
    <td><% vet.pets.each do |pet| %>
      <a href="/pets/<%= pet.id %>"><%= pet.name %>
        <% end  %></td>
      </tr>
      <% end %>
    </table>
