<form method="post" action="/owners">
  <label for="owners-first-name-field">Owners First Name: </label>
  <input
  type="text"
  name="first_name"
  id="owners-first-name-field"
  />

  <label for="owners-last-name-feild">Owners Last Name: </label>
  <input
  type="text"
  name="last_name"
  id="owners-last-name-feild"
  />

  <label for="owners-telephone-number-feild">Owners Telephone Number: </label>
  <input type="text"
  name="telephone_number"
  id ="owners-telephone-number-feild"
  />

  <label for="owners-street-address-feild">Owners Street Address: </label>
  <input type="text"
  name="street_address"
  id = "owners-street-address-field"
  />

  <label for="postcode-feild">Postcode: </label>
  <input type="text"
  name="postcode"
  id ="postcode-feild"
  />

  <label for="email-feild">Email: </label>
  <input type="text"
  name="email"
  id ="email-feild"
  />

  <input class="btn btn--action" type="submit" value="Create Owner">
</form>
